/* src/components/FormCard.css */

.card-link {
    text-decoration: none;
    color: inherit;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 24px;

    /* A LARGURA FOI REMOVIDA DAQUI */
    /* width: calc(25% - 24px); */
    box-sizing: border-box;

    height: 220px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 4px solid #0056b3;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.card-icon {
    font-size: 30px;
    color: #0056b3;
    margin-bottom: 16px;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #333;
    font-size: 1.1rem;
    font-size: 15px;
}

.card p {
    color: #666;
    font-size: 0.9rem;
    line-height: 1.4;
}