/* src/pages/HomePage/HomePage.css */

.homepage-container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: 100vh;
    
    /* Regras de Centralização: Limpas */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}